/* Common styles & typography */
body.preloadable {
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
}
.image .border {
  -webkit-box-shadow: inset #fff 0 0 0 2px;
  -moz-box-shadow: inset #fff 0 0 0 2px;
  box-shadow: inset #fff 0 0 0 2px;
}
.button {
  -webkit-transition-timing-function: cubic-bezier(0.13, 0.71, 0.30, 0.94);
  -moz-transition-timing-function: cubic-bezier(0.13, 0.71, 0.30, 0.94);
  -o-transition-timing-function: cubic-bezier(0.13, 0.71, 0.30, 0.94);
  transition-timing-function: cubic-bezier(0.13, 0.71, 0.30, 0.94);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.transform-origin-left-top {
  -webkit-transform-origin: left top;
  -moz-transform-origin: left top;
  -o-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;
}
.transform-origin-center-top {
  -webkit-transform-origin: center top;
  -moz-transform-origin: center top;
  -o-transform-origin: center top;
  -ms-transform-origin: center top;
  transform-origin: center top;
}
.transform-origin-right-top {
  -webkit-transform-origin: right top;
  -moz-transform-origin: right top;
  -o-transform-origin: right top;
  -ms-transform-origin: right top;
  transform-origin: right top;
}
.transform-origin-left-middle {
  -webkit-transform-origin: left middle;
  -moz-transform-origin: left middle;
  -o-transform-origin: left middle;
  -ms-transform-origin: left middle;
  transform-origin: left middle;
}
.transform-origin-center-middle {
  -webkit-transform-origin: center middle;
  -moz-transform-origin: center middle;
  -o-transform-origin: center middle;
  -ms-transform-origin: center middle;
  transform-origin: center middle;
}
.transform-origin-right-middle {
  -webkit-transform-origin: right middle;
  -moz-transform-origin: right middle;
  -o-transform-origin: right middle;
  -ms-transform-origin: right middle;
  transform-origin: right middle;
}
.transform-origin-left-bottom {
  -webkit-transform-origin: left bottom;
  -moz-transform-origin: left bottom;
  -o-transform-origin: left bottom;
  -ms-transform-origin: left bottom;
  transform-origin: left bottom;
}
.transform-origin-center-bottom {
  -webkit-transform-origin: center bottom;
  -moz-transform-origin: center bottom;
  -o-transform-origin: center bottom;
  -ms-transform-origin: center bottom;
  transform-origin: center bottom;
}
.transform-origin-right-bottom {
  -webkit-transform-origin: right bottom;
  -moz-transform-origin: right bottom;
  -o-transform-origin: right bottom;
  -ms-transform-origin: right bottom;
  transform-origin: right bottom;
}
/* Preloader */
.preloader .logo,
.preloader .bar,
.preloader .percent,
.preloader .top,
.preloader .bottom {
  -webkit-transition-timing-function: cubic-bezier(0.13, 0.71, 0.30, 0.94);
  -moz-transition-timing-function: cubic-bezier(0.13, 0.71, 0.30, 0.94);
  -o-transition-timing-function: cubic-bezier(0.13, 0.71, 0.30, 0.94);
  transition-timing-function: cubic-bezier(0.13, 0.71, 0.30, 0.94);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.preloader .bar .value {
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
}
/* Navigation */
.navbar,
.nav > li > a {
  -webkit-transition-timing-function: cubic-bezier(0.13, 0.71, 0.30, 0.94);
  -moz-transition-timing-function: cubic-bezier(0.13, 0.71, 0.30, 0.94);
  -o-transition-timing-function: cubic-bezier(0.13, 0.71, 0.30, 0.94);
  transition-timing-function: cubic-bezier(0.13, 0.71, 0.30, 0.94);
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
}
.navbar-collapse {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.nav ul {
  -webkit-transition-timing-function: cubic-bezier(0.13, 0.71, 0.30, 0.94);
  -moz-transition-timing-function: cubic-bezier(0.13, 0.71, 0.30, 0.94);
  -o-transition-timing-function: cubic-bezier(0.13, 0.71, 0.30, 0.94);
  transition-timing-function: cubic-bezier(0.13, 0.71, 0.30, 0.94);
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
}
/* Hero */
#hero .content {
  -webkit-transition-timing-function: cubic-bezier(0.13, 0.71, 0.30, 0.94);
  -moz-transition-timing-function: cubic-bezier(0.13, 0.71, 0.30, 0.94);
  -o-transition-timing-function: cubic-bezier(0.13, 0.71, 0.30, 0.94);
  transition-timing-function: cubic-bezier(0.13, 0.71, 0.30, 0.94);
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  -webkit-transform: scale(0.9) translateY(-10%);
  -moz-transform: scale(0.9) translateY(-10%);
  -o-transform: scale(0.9) translateY(-10%);
  -ms-transform: scale(0.9) translateY(-10%);
  transform: scale(0.9) translateY(-10%);
}
#hero .content.visual {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  -webkit-transform: scale(1) translateY(0px);
  -moz-transform: scale(1) translateY(0px);
  -o-transform: scale(1) translateY(0px);
  -ms-transform: scale(1) translateY(0px);
  transform: scale(1) translateY(0px);
}
#hero .content.visual-end {
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  -webkit-transform: scale(0.9) translateY(10%);
  -moz-transform: scale(0.9) translateY(10%);
  -o-transform: scale(0.9) translateY(10%);
  -ms-transform: scale(0.9) translateY(10%);
  transform: scale(0.9) translateY(10%);
}
#hero .content .hero-text,
#hero .content .hero-text-lined {
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
}
lesshat-selector {
  -lh-property: 0; } 
@-webkit-keyframes heroScrollArrow{ 0%{ -webkit-transform: translateY(0); } 25%{ -webkit-transform: translateY(5px); } 50%{ -webkit-transform: translateY(0); } 75%{ -webkit-transform: translateY(-5px) } 100%{ -webkit-transform: translateY(0); }}
@-moz-keyframes heroScrollArrow{ 0%{ -moz-transform: translateY(0); } 25%{ -moz-transform: translateY(5px); } 50%{ -moz-transform: translateY(0); } 75%{ -moz-transform: translateY(-5px) } 100%{ -moz-transform: translateY(0); }}
@-o-keyframes heroScrollArrow{ 0%{ -o-transform: translateY(0); } 25%{ -o-transform: translateY(5px); } 50%{ -o-transform: translateY(0); } 75%{ -o-transform: translateY(-5px) } 100%{ -o-transform: translateY(0); }}
@keyframes heroScrollArrow{ 0%{-webkit-transform: translateY(0);-moz-transform: translateY(0);-ms-transform: translateY(0);transform: translateY(0); } 25%{-webkit-transform: translateY(5px);-moz-transform: translateY(5px);-ms-transform: translateY(5px);transform: translateY(5px); } 50%{-webkit-transform: translateY(0);-moz-transform: translateY(0);-ms-transform: translateY(0);transform: translateY(0); } 75%{-webkit-transform: translateY(-5px);-moz-transform: translateY(-5px);-ms-transform: translateY(-5px);transform: translateY(-5px);} 100%{-webkit-transform: translateY(0);-moz-transform: translateY(0);-ms-transform: translateY(0);transform: translateY(0); };
}
.hero-scroll-arrow > .fa {
  -webkit-animation: heroScrollArrow 1.5s linear infinite;
  -moz-animation: heroScrollArrow 1.5s linear infinite;
  -o-animation: heroScrollArrow 1.5s linear infinite;
  animation: heroScrollArrow 1.5s linear infinite;
}
/* Social icons */
.social a {
  -webkit-transition-timing-function: cubic-bezier(0.13, 0.71, 0.30, 0.94);
  -moz-transition-timing-function: cubic-bezier(0.13, 0.71, 0.30, 0.94);
  -o-transition-timing-function: cubic-bezier(0.13, 0.71, 0.30, 0.94);
  transition-timing-function: cubic-bezier(0.13, 0.71, 0.30, 0.94);
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-opacity: 0.35;
  -moz-opacity: 0.35;
  opacity: 0.35;
}
.social a:hover {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
/* Services */
.service-circle,
.service-box,
.service-icon {
  -webkit-transition-timing-function: cubic-bezier(0.13, 0.71, 0.30, 0.94);
  -moz-transition-timing-function: cubic-bezier(0.13, 0.71, 0.30, 0.94);
  -o-transition-timing-function: cubic-bezier(0.13, 0.71, 0.30, 0.94);
  transition-timing-function: cubic-bezier(0.13, 0.71, 0.30, 0.94);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.service-circle .circle {
  -webkit-transition-timing-function: cubic-bezier(0.13, 0.71, 0.30, 0.94);
  -moz-transition-timing-function: cubic-bezier(0.13, 0.71, 0.30, 0.94);
  -o-transition-timing-function: cubic-bezier(0.13, 0.71, 0.30, 0.94);
  transition-timing-function: cubic-bezier(0.13, 0.71, 0.30, 0.94);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}
.service-circle .fa {
  -webkit-transition-timing-function: cubic-bezier(0.13, 0.71, 0.30, 0.94);
  -moz-transition-timing-function: cubic-bezier(0.13, 0.71, 0.30, 0.94);
  -o-transition-timing-function: cubic-bezier(0.13, 0.71, 0.30, 0.94);
  transition-timing-function: cubic-bezier(0.13, 0.71, 0.30, 0.94);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.service:hover .service-circle .circle {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
/* Team */
.team .cover {
  -webkit-transition-timing-function: cubic-bezier(0.13, 0.71, 0.30, 0.94);
  -moz-transition-timing-function: cubic-bezier(0.13, 0.71, 0.30, 0.94);
  -o-transition-timing-function: cubic-bezier(0.13, 0.71, 0.30, 0.94);
  transition-timing-function: cubic-bezier(0.13, 0.71, 0.30, 0.94);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.team .cover .edge {
  -webkit-transform: rotate(351deg);
  -moz-transform: rotate(351deg);
  -o-transform: rotate(351deg);
  -ms-transform: rotate(351deg);
  transform: rotate(351deg);
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
}
/* Testimonial slider */
.testimonial-slider {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.testimonial-slider .flex-control-paging a,
.testimonial-slider .flex-control-paging a:hover,
.testimonial-slider .flex-control-paging a:focus .testimonial-slider .flex-control-paging a:active,
.testimonial-slider .flex-control-paging a:visited {
  -webkit-transition-timing-function: cubic-bezier(0.13, 0.71, 0.30, 0.94);
  -moz-transition-timing-function: cubic-bezier(0.13, 0.71, 0.30, 0.94);
  -o-transition-timing-function: cubic-bezier(0.13, 0.71, 0.30, 0.94);
  transition-timing-function: cubic-bezier(0.13, 0.71, 0.30, 0.94);
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-box-shadow: inset #fff 0 0 0 2px;
  -moz-box-shadow: inset #fff 0 0 0 2px;
  box-shadow: inset #fff 0 0 0 2px;
}
.testimonial-slider .flex-control-paging a:hover {
  -webkit-box-shadow: inset #fff 0 0 0 10px;
  -moz-box-shadow: inset #fff 0 0 0 10px;
  box-shadow: inset #fff 0 0 0 10px;
}
.testimonial-slider .flex-direction-nav .flex-prev,
.testimonial-slider .flex-direction-nav .flex-next {
  -webkit-opacity: 0.5 !important;
  -moz-opacity: 0.5 !important;
  opacity: 0.5 !important;
}
.testimonial-slider .flex-direction-nav .flex-prev,
.testimonial-slider .flex-direction-nav .flex-next {
  -webkit-transition-timing-function: cubic-bezier(0.13, 0.71, 0.30, 0.94);
  -moz-transition-timing-function: cubic-bezier(0.13, 0.71, 0.30, 0.94);
  -o-transition-timing-function: cubic-bezier(0.13, 0.71, 0.30, 0.94);
  transition-timing-function: cubic-bezier(0.13, 0.71, 0.30, 0.94);
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
}
.testimonial-slider .flex-direction-nav .flex-prev:hover,
.testimonial-slider .flex-direction-nav .flex-next:hover {
  -webkit-opacity: 1 !important;
  -moz-opacity: 1 !important;
  opacity: 1 !important;
}
/* Pricing tables */
.pricing .price .left {
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -o-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transform: rotate(5deg) scale(1.2);
  -moz-transform: rotate(5deg) scale(1.2);
  -o-transform: rotate(5deg) scale(1.2);
  -ms-transform: rotate(5deg) scale(1.2);
  transform: rotate(5deg) scale(1.2);
}
.pricing .price .right {
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -o-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transform: rotate(355deg) scale(1.2);
  -moz-transform: rotate(355deg) scale(1.2);
  -o-transform: rotate(355deg) scale(1.2);
  -ms-transform: rotate(355deg) scale(1.2);
  transform: rotate(355deg) scale(1.2);
}
/* Portfolio */
.portfolio .item .image .zoom {
  -webkit-transition-timing-function: cubic-bezier(0.13, 0.71, 0.30, 0.94);
  -moz-transition-timing-function: cubic-bezier(0.13, 0.71, 0.30, 0.94);
  -o-transition-timing-function: cubic-bezier(0.13, 0.71, 0.30, 0.94);
  transition-timing-function: cubic-bezier(0.13, 0.71, 0.30, 0.94);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
}
.portfolio .item:hover .image .zoom {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.portfolio .item .image > img {
  -webkit-transition-timing-function: cubic-bezier(0.13, 0.71, 0.30, 0.94);
  -moz-transition-timing-function: cubic-bezier(0.13, 0.71, 0.30, 0.94);
  -o-transition-timing-function: cubic-bezier(0.13, 0.71, 0.30, 0.94);
  transition-timing-function: cubic-bezier(0.13, 0.71, 0.30, 0.94);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.portfolio .item:hover .image > img {
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -o-transform: scale(1.25);
  -ms-transform: scale(1.25);
  transform: scale(1.25);
}
/* Social circle */
.social-circle {
  -webkit-transition-timing-function: cubic-bezier(0.13, 0.71, 0.30, 0.94);
  -moz-transition-timing-function: cubic-bezier(0.13, 0.71, 0.30, 0.94);
  -o-transition-timing-function: cubic-bezier(0.13, 0.71, 0.30, 0.94);
  transition-timing-function: cubic-bezier(0.13, 0.71, 0.30, 0.94);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.social-circle.social-circle-inversed {
  -webkit-box-shadow: inset #fff 0 0 0 2px;
  -moz-box-shadow: inset #fff 0 0 0 2px;
  box-shadow: inset #fff 0 0 0 2px;
}
.social-circle.social-circle-inversed:hover {
  -webkit-box-shadow: inset #fff 0 0 0 10px;
  -moz-box-shadow: inset #fff 0 0 0 10px;
  box-shadow: inset #fff 0 0 0 10px;
}
/* Animated styles */
.animated-out,
.animated-in {
  -webkit-transition-timing-function: cubic-bezier(0.13, 0.71, 0.30, 0.94);
  -moz-transition-timing-function: cubic-bezier(0.13, 0.71, 0.30, 0.94);
  -o-transition-timing-function: cubic-bezier(0.13, 0.71, 0.30, 0.94);
  transition-timing-function: cubic-bezier(0.13, 0.71, 0.30, 0.94);
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}
.animated-out {
  -webkit-transform: translateY(35px);
  -moz-transform: translateY(35px);
  -o-transform: translateY(35px);
  -ms-transform: translateY(35px);
  transform: translateY(35px);
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
}
.animated-in {
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -o-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
