@import "lesshat.less";

/* Common styles & typography */
body.preloadable {
  .opacity(0);
}
.image .border {
  .box-shadow(~"inset #fff 0 0 0 2px");
}
.button {
  .transition-timing-function(~"cubic-bezier(0.13, 0.71, 0.30, 0.94)");
  .transition-duration(0.5s);
}
.transform-origin-left-top {
  .transform-origin(left top);
}
.transform-origin-center-top {
  .transform-origin(center top);
}
.transform-origin-right-top {
  .transform-origin(right top);
}
.transform-origin-left-middle {
  .transform-origin(left middle);
}
.transform-origin-center-middle {
  .transform-origin(center middle);
}
.transform-origin-right-middle {
  .transform-origin(right middle);
}
.transform-origin-left-bottom {
  .transform-origin(left bottom);
}
.transform-origin-center-bottom {
  .transform-origin(center bottom);
}
.transform-origin-right-bottom {
  .transform-origin(right bottom);
}

/* Preloader */
.preloader .logo,
.preloader .bar,
.preloader .percent,
.preloader .top,
.preloader .bottom {
  .transition-timing-function(~"cubic-bezier(0.13, 0.71, 0.30, 0.94)");
  .transition-duration(0.5s);
}
.preloader .bar .value {
  .transition-duration(0.25s);
}

/* Navigation */
.navbar,
.nav > li > a {
  .transition-timing-function(~"cubic-bezier(0.13, 0.71, 0.30, 0.94)");
  .transition-duration(0.25s);
}
.navbar-collapse {
  .box-shadow(~"none");
}
.nav ul {
  .transition-timing-function(~"cubic-bezier(0.13, 0.71, 0.30, 0.94)");
  .transition-duration(0.25s);
}

/* Hero */
#hero .content {
  .transition-timing-function(~"cubic-bezier(0.13, 0.71, 0.30, 0.94)");
  .transition-duration(1s);
  .opacity(0);
  .transform(~"scale(0.9) translateY(-10%)");
}
#hero .content.visual {
  .opacity(1);
  .transform(~"scale(1) translateY(0)");
}
#hero .content.visual-end {
  .opacity(0);
  .transform(~"scale(0.9) translateY(10%)");
}
#hero .content .hero-text,
#hero .content .hero-text-lined {
  .transition-duration(0.25s);
}
.keyframes(~'heroScrollArrow, 0%{ transform: translateY(0); } 25%{ transform: translateY(5px); } 50%{ transform: translateY(0); } 75%{ transform: translateY(-5px) } 100%{ transform: translateY(0); }');
.hero-scroll-arrow > .fa {
  .animation(~"heroScrollArrow 1.5s linear infinite");
}

/* Social icons */
.social a {
  .transition-timing-function(~"cubic-bezier(0.13, 0.71, 0.30, 0.94)");
  .transition-duration(0.25s);
  .opacity(0.35);
}
.social a:hover {
  .opacity(1);
}

/* Services */
.service-circle,
.service-box,
.service-icon {
  .transition-timing-function(~"cubic-bezier(0.13, 0.71, 0.30, 0.94)");
  .transition-duration(0.5s);
}
.service-circle .circle {
  .transition-timing-function(~"cubic-bezier(0.13, 0.71, 0.30, 0.94)");
  .transition-duration(0.5s);
  .scale(0);
}
.service-circle .fa {
  .transition-timing-function(~"cubic-bezier(0.13, 0.71, 0.30, 0.94)");
  .transition-duration(0.5s);
}
.service:hover .service-circle .circle {
  .scale(1);
}

/* Team */
.team .cover {
  .transition-timing-function(~"cubic-bezier(0.13, 0.71, 0.30, 0.94)");
  .transition-duration(0.5s);
}
.team .cover .edge {
  .rotate(351);
  .transform-origin(~"0 0");
}

/* Testimonial slider */
.testimonial-slider {
  .box-shadow(~"none");
}
.testimonial-slider .flex-control-paging a,
.testimonial-slider .flex-control-paging a:hover,
.testimonial-slider .flex-control-paging a:focus
.testimonial-slider .flex-control-paging a:active,
.testimonial-slider .flex-control-paging a:visited {
  .transition-timing-function(~"cubic-bezier(0.13, 0.71, 0.30, 0.94)");
  .transition-duration(0.25s);
  .box-shadow(~"inset #fff 0 0 0 2px");
}
.testimonial-slider .flex-control-paging a:hover {
  .box-shadow(~"inset #fff 0 0 0 10px");
}
.testimonial-slider .flex-direction-nav .flex-prev,
.testimonial-slider .flex-direction-nav .flex-next {
  .opacity(~"0.5 !important");
}
.testimonial-slider .flex-direction-nav .flex-prev,
.testimonial-slider .flex-direction-nav .flex-next {
  .transition-timing-function(~"cubic-bezier(0.13, 0.71, 0.30, 0.94)");
  .transition-duration(0.25s);
  .opacity(0.5);
}
.testimonial-slider .flex-direction-nav .flex-prev:hover,
.testimonial-slider .flex-direction-nav .flex-next:hover {
  .opacity(~"1 !important");
}

/* Pricing tables */
.pricing .price .left {
  .transform-origin(50% 0);
  .transform(~"rotate(5) scale(1.2)");
}
.pricing .price .right {
  .transform-origin(50% 0);
  .transform(~"rotate(355) scale(1.2)");
}

/* Portfolio */
.portfolio .item .image .zoom {
  .transition-timing-function(~"cubic-bezier(0.13, 0.71, 0.30, 0.94)");
  .transition-duration(0.5s);
  .opacity(0);
}
.portfolio .item:hover .image .zoom {
  .opacity(0);
}
.portfolio .item .image > img {
  .transition-timing-function(~"cubic-bezier(0.13, 0.71, 0.30, 0.94)");
  .transition-duration(0.5s);
}
.portfolio .item:hover .image > img {
  .scale(1.25);
}

/* Social circle */
.social-circle {
  .transition-timing-function(~"cubic-bezier(0.13, 0.71, 0.30, 0.94)");
  .transition-duration(0.5s);
}
.social-circle.social-circle-inversed {
  .box-shadow(~"inset #fff 0 0 0 2px");
}
.social-circle.social-circle-inversed:hover {
  .box-shadow(~"inset #fff 0 0 0 10px");
}

/* Animated styles */
.animated-out,
.animated-in {
  .transition-timing-function(~"cubic-bezier(0.13, 0.71, 0.30, 0.94)");
  .transition-duration(1s);
}
.animated-out {
  .transform(~"translateY(35px)");
  .opacity(0);
}
.animated-in {
  .transform(~"translateY(0)");
  .opacity(1);
}