@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
    .section-heading .wrap {
        background-image: url('/img/site/section-heading2x.png');
    }
    .section-heading .wrap:before {
        background-image: url('/img/site/section-heading-left2x.png');
    }
    .section-heading .wrap:after {
        background-image: url('/img/site/section-heading-right2x.png');
    }
    .portfolio-filter a:before {
        background-image: url('/img/site/portfolio-filter-separator.png');
    }
    .blog-item .date-corner {
        background-image: url('/img/site/blog-item-date-corner2x.png');
    }
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx)
only screen and (min-width: 768px) {
    .nav > li > a:before {
        background-image: url('/img/site/nav-separator2x.png');
    }
    .section-heading .wrap {
        background-image: url('/img/site/section-heading-big2x.png');
    }
    .section-heading .wrap:before {
        background-image: url('/img/site/section-heading-left-big2x.png');
    }
    .section-heading .wrap:after {
        background-image: url('/img/site/section-heading-right-big2x.png');
    }
}