/* Common styles & typography */
body.no-hero {
    padding-top: 80px;
}

/* Navigation */
.navbar,
.navbar-collapse {
    height: 80px;
}
.navbar-brand,
.navbar-brand:hover,
.navbar-brand:focus,
.navbar-brand:visited,
.navbar-brand:active {
    line-height: 76px;
}
.navbar-nav {
    margin-bottom: 0;
}
.nav ul {
    margin-left: 0;
    border-left: 0;
    position: absolute;
    right: 0;
    background: #111;
    -webkit-transform: scale(0);
       -moz-transform: scale(0);
        -ms-transform: scale(0);
         -o-transform: scale(0);
            transform: scale(0);
}
.nav li:hover > ul {
    -webkit-transform: scale(1);
       -moz-transform: scale(1);
        -ms-transform: scale(1);
         -o-transform: scale(1);
            transform: scale(1);
}
.nav ul ul {
    top: 0;
    right: 100%;
}
.nav li > a,
.nav li > a:hover,
.nav li > a:visited,
.nav li > a:active,
.nav li > a:focus {
    position: relative;
    height: 80px;
    line-height: 72px;
    padding: 0 !important;
    margin: 0 0 0 36px;
}
.nav ul li > a,
.nav ul li > a:hover,
.nav ul li > a:visited,
.nav ul li > a:active,
.nav ul li > a:focus {
    height: 40px;
    line-height: 32px;
    padding: 0 15px !important;
    margin: 0;
	white-space: nowrap;
}
.nav > li > ul {
    top: 80px;
}
.nav ul li > a {
    height: 40px;
}
.nav > li:before {
    content: "";
    display: block;
    float: left;
    width: 36px;
    height: 80px;
    background: url('/img/site/nav-separator.png') center center no-repeat;
    background-size: 50px 80px;
}
.nav > li:first-child:before {
    display: none;
}
.nav > li:first-child > a {
    margin-left: 0;
}
.nav li.active > a {
    padding: 0 0 0 19px !important;
}
.nav ul li.active > a {
    padding: 0 15px 0 35px !important;
}
.nav li.active > a:before {
    top: 34px;
    left: 0;
}
.nav ul li.active > a:before {
    top: 16px;
    left: 15px;
}

/* Hero */
body.nav-fixed #hero {
    margin-bottom: 80px;
}
#hero .content {
    height: 395px;
    margin: -198px 0 0 0;
}
#hero .content .hero-text {
    font-size: 75px;
}
#hero .content .hero-text-lined {
    font-size: 35px;
}
#hero .content .hero-text-lined:before,
#hero .content .hero-text-lined:after {
    width: 150px;
    height: 5px;
    margin-top: -2px;
}
#hero .content .hero-text-lined:before {
    left: -170px;
}
#hero .content .hero-text-lined:after {
    right: -170px;
}
#hero .content .button {
    margin-top: 74px;
}

/* Section heading */
.section-heading {
    height: 82px;
    font-size: 45px;
    line-height: 87px;
}
.section-heading .wrap {
    height: 82px;
    padding: 0 35px;
    background: url('/img/site/section-heading-big.png') center center repeat-x;
    background-size: 1px 82px;
}
.section-heading .wrap:before {
    left: -23px;
    width: 23px;
    height: 82px;
    background: url('/img/site/section-heading-left-big.png') center center no-repeat;
    background-size: 23px 82px;
}
.section-heading .wrap:after {
    right: -23px;
    width: 23px;
    height: 82px;
    background: url('/img/site/section-heading-right-big.png') center center no-repeat;
    background-size: 23px 82px;
}

/* Sub section heading */
.subsection-heading {
    font-size: 35px;
    margin: -12px 0 0 0;
}
.subsection-heading:after {
    content: "";
    display: block;
    width: 50px;
    height: 3px;
    border-radius: 3px;
    margin: 2px auto 80px auto;
}

/* Services */
.service-right {
    float: right;
}
.service-left {
    float: left;
}
.service-center {
    margin-left: auto;
    margin-right: auto;
}

/* Pricing tables */
.pricing {
    margin-bottom: 53px;
}
.pricing-left,
.pricing-right {
    margin-top: 14px;
}
.pricing-left .price .right,
.pricing-right .price .left {
    display: none;
}
.pricing-left .price .bottom {
    background: url('/img/site/pricing-left.png');
}
.pricing-right .price .bottom {
    background: url('/img/site/pricing-right.png');
}

/* Comments */
.comment-list li li {
    margin-left: 30px;
}