/* Font imports */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url(/fonts/OpenSans-Light.eot);
  src: local('Open Sans Light'), local('OpenSans-Light'), url(/fonts/OpenSans-Light.ttf) format('truetype');
  src: local('Open Sans Light'), local('OpenSans-Light'), url(/fonts/OpenSans-Light.woff2) format('woff2');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/OpenSans.eot);
  src: local('Open Sans'), local('OpenSans'), url(/fonts/OpenSans.ttf) format('truetype');
  src: local('Open Sans'), local('OpenSans'), url(/fonts/OpenSans.woff2) format('woff2');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url(/fonts/OpenSans-Bold.eot);
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(/fonts/OpenSans-Bold.ttf) format('truetype');
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(/fonts/OpenSans-Bold.woff2) format('woff2');
}
@font-face {
  font-family: 'Josefin Slab';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/JosefinSlab.eot);
  src: local('Josefin Slab'), local('JosefinSlab'), url(/fonts/JosefinSlab.ttf) format('truetype');
  src: local('Josefin Slab'), local('JosefinSlab'), url(/fonts/JosefinSlab.woff2) format('woff2');
}
@font-face {
  font-family: 'Josefin Slab';
  font-style: normal;
  font-weight: 700;
  src: url(/fonts/JosefinSlab-Bold.eot);
  src: local('Josefin Slab Bold'), local('JosefinSlab-Bold'), url(/fonts/JosefinSlab-Bold.ttf) format('truetype');
  src: local('Josefin Slab Bold'), local('JosefinSlab-Bold'), url(/fonts/JosefinSlab-Bold.woff2) format('woff2');
}
/* Common styles & typography */
html, body {
    width: 100%;
    height: 100%;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.428571428571429;
}
body .popup {
    display: none;
}
body.popup-open {
    overflow: hidden;
}
body.popup-open .popup {
    display: block;
}
body.no-hero {
    padding-top: 60px;
}
hr {
    margin-top: 0;
    margin-bottom: 30px;
}
h1, h2, h3, h4, h5, h6 {
    /*font-family: 'Josefin Slab';*/
    font-family: 'Open Sans';
    font-weight: 700;
    text-transform: uppercase;
    color: #CCC;
}
h1 {
    font-size: 35px;
    margin: -6px 0 23px 0;
}
h2 {
    font-size: 30px;
    margin: -5px 0 23px 0;
}
h3 {
    font-size: 25px;
    margin: -4px 0 25px 0;
}
h4 {
    font-size: 20px;
    margin: -4px 0 26px 0;
}
h5 {
    font-size: 15px;
    margin: -2px 0 27px 0;
}
h6 {
    font-size: 10px;
    margin: -2px 0 28px 0;
}
p {
    color: #999;
    margin: -3px 0 24px 0;
}
p.lead {
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 20px;
    text-align: justify;
    color: #CCC;
    margin: -7px 0 73px 0;
}
a, a:hover, a:focus, a:visited, a:active {
    text-decoration: underline;
    outline: none !important;
}
a.no-decoration {
    text-decoration: none;
}
blockquote {
    padding: 0 0 0 10px;
    margin: 3px 0 30px 30px;
}
blockquote p {
    font-size: 15px;
    color: #CCC;
    margin: -3px 0 24px 0;
}
blockquote footer {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 15px;
    text-align: left;
    padding: 0;
    margin: -5px 0;
    background: transparent;
}
code, kbd, pre, samp {
    color: #CCC;
    background: #eee;
    border: 0;
    border-radius: 5px;
    padding: 26px 30px 28px 30px;
    margin: 0 0 30px 0;
}
.image {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    margin: 0 0 30px 0;
}
.image > img {
    display: block;
    width: 100%;
    border-radius: 5px;
}
.image .border {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: transparent 3px solid;
    border-radius: 5px;
}
.preletor-image {
    position: relative;
    width: 200px;
    height: 200px;
    text-align: center;
    line-height: 21px;
    background-color: #fff;
    border: 1px solid #fff;
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    border-radius: 200px;
    -webkit-box-shadow: 2px 2px 4px #888;
    -moz-box-shadow: 2px 2px 4px #888;
    box-shadow: 2px 2px 4px #888;
    overflow: hidden;
}
.button {
    display: inline-block;
    height: 44px;
    line-height: 42px;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 16px;
    text-decoration: none !important;
    text-transform: uppercase;
    padding: 0 30px;
    border: #999 2px solid;
    border-radius: 5px;
    background: url('../img/curtain-left.png') -30px 0 no-repeat;
}
.button:hover,
.button:active,
.active > .button,
.active > .button:hover,
.active > .button:active {
    color: #111 !important;
}
.active > .button-inversed,
.active > .button-inversed:hover,
.active > .button-inversed:active {
    background: #fff !important;
}
.button-small {
    font-size: 12px;
    height: 34px;
    line-height: 31px;
    padding: 0 20px;
}
.button-large {
    font-size: 18px;
    height: 57px;
    line-height: 55px;
    padding: 0 40px;
}
.button-inversed {
    color: #fff !important;
    border-color: #fff;
    background: url('../img/curtain-right.png') -1000px 0 no-repeat;
}
.button-colored {
    color: #fff !important;
}
button {
    outline: none;
}
input, textarea {
    width: 100%;
    font-family: 'Open Sans';
    font-size: 14px;
    border: #999 2px solid;
    border-radius: 5px;
    background: transparent;
    padding: 10px 15px;
    margin: 0px;
    outline: none;
    resize: none;
}
input.inversed, textarea.inversed {
    border-color: #fff;
    color: #fff;
}
.inversed::-webkit-input-placeholder {
    color: #fff;
}
.inversed:-moz-placeholder {
    color: #fff;
}
.inversed::-moz-placeholder {
    color: #fff;
}
.inversed:-ms-input-placeholder {
    color: #fff;
}
textarea {
    height: 104px;
}
.light {
    font-weight: 300;
}
.normal {
    font-weight: 400;
}
.bold {
    font-weight: 700;
}
.large {
    font-size: 16px;
}
.white {
    color: #FFF;
}
.black {
    color: #000;
}
.uppercase {
    text-transform: uppercase;
}
.lowercase {
    text-transform: lowercase;
}
.josefin {
    font-family: 'Josefin Slab';
}
.roboto {
    font-family: 'Open Sans';
}
.lobster {
    font-family: 'Open Sans';
}
.padding-top {
    padding-top: 80px;
}
.padding-bottom {
    padding-bottom: 80px;
}
.padding-top-small {
    padding-top: 50px;
}
.padding-bottom-small {
    padding-bottom: 50px;
}
.padding-top-tiny {
    padding-top: 30px;
}
.padding-bottom-tiny {
    padding-bottom: 30px;
}
.margin-top {
    margin-top: 80px !important;
}
.margin-bottom {
    margin-bottom: 80px !important;
}
.margin-top-small {
    margin-top: 50px !important;
}
.margin-bottom-small {
    margin-bottom: 50px !important;
}
.margin-top-tiny {
    margin-top: 30px !important;
}
.margin-bottom-tiny {
    margin-bottom: 30px !important;
}

/* Video player */
.player {
    /*position: absolute;*/
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: auto; 
    /*overflow: hidden;*/
    -webkit-overflow-scrolling:touch;
}
.player > iframe {
    position: absolute;
    display: block;
    border: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Overlay */
section {
    position: relative;
}
section > .content {
    position: relative;
}
.overlay {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url('../img/overlay.png');
     /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";

  /* IE 5-7 */
  filter: alpha(opacity=50);

  /* Netscape */
  -moz-opacity: 0.5;

  /* Safari 1.x */
  -khtml-opacity: 0.5;

  /* Good browsers */
  opacity: 0.5;
}
.overlay-white {
    background: url('../img/overlay-white.png');
}

/* Logo */
.logo {
    font-family: 'Open Sans';
    font-size: 26px;
    margin: -9px 0 21px 0;
}
.logo.inversed {
    color: #fff;
}

/* Preloader */
.preloader {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 7000;
}
.preloader .bar {
    display: block;
    position: fixed;
    top: 50%;
    left: 0;
    width: 100%;
    height: 5px;
    margin: -3px 0 0 0;
}
.preloader .bar .value {
    display: block;
    position: relative;
    width: 0;
    height: 5px;
    margin: 0 auto;
    background: #111;
}
.preloader .bar .value .left,
.preloader .bar .value .right {
    display: block;
    position: absolute;
    top: 0;
    width: 5px;
    height: 5px;
    background: #111;
    border-radius: 3px;
}
.preloader .bar .value .left {
    left: -3px;
}
.preloader .bar .value .right {
    right: -2px;
}
.preloader .logo,
.preloader .percent {
    display: block;
    position: absolute;
    width: 50%;
    height: 48px;
    top: 50%;
    left: 50%;
    font-family: 'Open Sans';
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    color: #111;
    margin: -92px 0 0 -25%;
}
.preloader .percent {
    font-family: 'Josefin Slab';
    font-size: 20px;
    margin: 46px 0 0 -25%;
}
.preloader .top,
.preloader .bottom {
    display: block;
    position: absolute;
    width: 100%;
    height: 50%;
    left: 0;
    background: #fff;
}
.preloader .top.moving,
.preloader .bottom.moving {
    border-color: #000;
}
.preloader .top {
    top: 0;
}
.preloader .bottom {
    bottom: 0;
}

/* Navigation */
.navbar {
    display: block;
    width: 100%;
    height: 60px;
    background: #111;
    border-radius: 0;
    border: 0;
    z-index: 5000;
    margin: 0;
}
body.nav-fixed .navbar {
    position: fixed;
    top: 0;
    left: 0;
}
.navbar-collapse {
    max-height: 320px;
}
.navbar-brand,
.navbar-brand:hover,
.navbar-brand:focus,
.navbar-brand:visited,
.navbar-brand:active {
    display: inline;
    width: auto;
    height: auto;
    font-family: 'Open Sans';
    font-size: 26px;
    line-height: 58px;
    text-decoration: none;
    color: #fff;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
}
.navbar-toggle {
    border: 0;
    border-radius: 0;
    padding: 0;
    margin-top: 23px;
    margin-bottom: 23px;
}
.navbar-toggle .icon-bar {
    background: #fff;
}
.navbar-collapse {
    border: 0;
    background: #111;
}
.navbar-nav {
    margin-top: 0;
    margin-bottom: 0;
}
.nav ul,
.nav li {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}
.nav ul {
    border-left: #fff 1px solid;
    margin-left: 19px;
}
.nav li > a,
.nav li > a:hover,
.nav li > a:visited,
.nav li > a:active,
.nav li > a:focus {
    display: block;
    height: 40px;
    font-family: 'Open Sans';
    font-size: 18px;
    line-height: 32px;
    color: #fff;
    text-decoration: none;
    outline: none;
    background: transparent;
    padding: 0 15px !important;
}
.nav li.active > a {
    padding: 0 0 0 34px !important;
}
.nav li.active > a:before {
    content: "";
    display: block;
    position: absolute;
    top: 15px;
    left: 15px;
    width: 9px;
    height: 9px;
    border-radius: 5px;
    background: #fff;
}

/* Popup */
.popup {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #fff;
    overflow: auto;
    z-index: 6000;
}
.popup .container {
    max-width: 750px;
}
.popup header {
    width: 100%;
    height: 80px;
    line-height: 78px;
    border-bottom: #eee 1px solid;
    margin: 0 0 30px 0;
}
.popup header .logo {
    float: left;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 26px;
    color: #CCC;
    margin: 0;
}
.popup header .exit {
    font-size: 26px;
    color: #CCC !important;
    text-decoration: none !important;
    float: right;
}

/* Hero */
#hero {
    position: relative;
    display: block;
    width: 100%;
    height: 87%;
}
body.nav-fixed #hero {
    margin-bottom: 60px;
}
#hero .content {
    position: absolute;
    display: none;
    width: 100%;
    height: 222px;
    top: 50%;
    left: 0;
    margin: -111px 0 0 0;
    text-align: center;
    color: #fff;
}
#hero .content.display {
    display: block;
}
#hero .content .hero-text {
    display: block;
    width: 100%;
    font-size: 37px;
}
#hero .content .hero-text-lined {
    display: inline-block;
    position: relative;
    font-size: 17px;
}
#hero .content .hero-text-lined:before,
#hero .content .hero-text-lined:after {
    content: "";
    display: block;
    position: absolute;
    width: 75px;
    height: 3px;
    top: 50%;
    margin-top: -1px;
    border-radius: 3px;
    background: #fff;
}
#hero .content .hero-text-lined:before {
    left: -85px;
}
#hero .content .hero-text-lined:after {
    right: -85px;
}
#hero .content .button {
    margin-top: 37px;
}
.hero-scroll-arrow,
.hero-scroll-arrow:hover,
.hero-scroll-arrow:visited,
.hero-scroll-arrow:active,
.hero-scroll-arrow:focus {
    position: absolute;
    display: block;
    width: 100px;
    height: 40px;
    bottom: 30px;
    left: 50%;
    font-size: 12px;
    line-height: 20px;
    text-decoration: none;
    text-align: center;
    text-transform: lowercase;
    margin: 0 0 0 -50px;
    color: #fff;
}
.hero-scroll-arrow > span {
    display: block;
}
.hero-scroll-arrow > .fa {
    font-size: 16px;
}

/* Section heading */
.section-heading {
    display: block;
    width: 100%;
    height: 62px;
    margin: 0 auto 80px auto;
    font-family: 'Josefin Slab';
    font-weight: 700;
    font-size: 35px;
    line-height: 65px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}
.section-heading .wrap {
    position: relative;
    display: inline-block;
    height: 62px;
    padding: 0 20px;
    background: url('../img/section-heading.png') center center repeat-x;
    background-size: 1px 62px;
}
.section-heading .wrap:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: -17px;
    width: 17px;
    height: 62px;
    background: url('../img/section-heading-left.png') center center no-repeat;
    background-size: 17px 62px;
}
.section-heading .wrap:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: -17px;
    width: 17px;
    height: 62px;
    background: url('../img/section-heading-right.png') center center no-repeat;
    background-size: 17px 62px;
}

/* Sub section heading */
.subsection-heading {
    display: block;
    width: 100%;
    font-family: 'Josefin Slab';
    font-weight: 700;
    font-size: 25px;
    text-transform: uppercase;
    text-align: center;
    margin: -8px 0 0 0;
}
.subsection-heading-inversed {
    color: #fff !important;
}
.subsection-heading:after {
    content: "";
    display: block;
    width: 50px;
    height: 3px;
    border-radius: 3px;
    margin: 6px auto 80px auto;
}
.subsection-heading-inversed:after {
    background: #fff !important;
}

/* Social icons */
.social,
.social li {
    list-style: none;
    margin: 0;
    padding: 0;
}
.social {
    margin-bottom: 30px;
}
.social li {
    display: inline-block;
    margin: 0 3px;
}
.social a {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 3px;
    text-align: center;
    background: #fff;
}
.social .fa {
    font-size: 20px;
    line-height: 40px;
}

/* Services */
.service {
    width: 216px;
    text-align: center;
    margin: 0 auto;
}
.service-circle {
    position: relative;
    display: block;
    width: 216px;
    height: 216px;
    text-align: center;
    border-radius: 108px;
    margin-bottom: 30px;
    overflow: hidden;
}
.service-circle .fa {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 216px;
    height: 216px;
    font-size: 100px;
    line-height: 216px;
    color: #fff;
}
.service:hover .service-circle .fa {
    color: #fff;
}
.service-circle .circle {
    display: block;
    position: absolute;
    top: 12px;
    left: 12px;
    width: 192px;
    height: 192px;
    border-radius: 96px;
}
.service p {
    color: #CCC;
}
.service-box {
    text-align: center;
    padding: 30px 30px 1px 30px;
    margin: 0 0 30px 0;
    background: rgba(255, 255, 255, 0.15);
}
.service-icon {
    display: block;
    position: relative;
    width: 50px;
    height: 50px;
    font-size: 20px;
    line-height: 46px;
    color: #fff;
    border: #fff 2px solid;
    border-radius: 25px;
    margin: 0 auto 30px auto;
}
.service-box:hover .service-icon {
    background: #fff;
}
.service-icon:before,
.service-icon:after {
    display: block;
    content: "";
    position: absolute;
    top: 21px;
    left: -62px;
    width: 50px;
    height: 3px;
    border-radius: 3px;
    background: #fff;
}
.service-icon:after {
    left: 58px;
}

/* Count */
.count {
    font-family: 'Josefin Slab';
    font-weight: 700;
    font-size: 75px;
    margin: -30px 0 2px 0;
}

/* Team */
.team {
    max-width: 200px;
    margin: 0 auto;
}
.team .image {
    overflow: hidden;
}
.team .cover {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: -120%;
    left: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.team .image:hover .cover {
    bottom: -50px;
}
.team .cover .edge {
    display: block;
    position: absolute;
    width: 150%;
    height: 50px;
    top: 0;
    left: 0;
}
.team .cover .content {
    position: absolute;
    left: 30px;
    bottom: 50px;
    margin-right: 30px;
}
.team .cover .social > li:first-child {
    margin-left: 0;
}

/* Testimonial slider */
.testimonial-slider {
    border: 0;
    border-radius: 0;
    background: transparent;
    margin-bottom: 118px;
}
.testimonial-slider .flex-control-nav li {
    margin: 0 5px;
}
.testimonial-slider .flex-control-paging a,
.testimonial-slider .flex-control-paging a:hover,
.testimonial-slider .flex-control-paging a:focus,
.testimonial-slider .flex-control-paging a:active,
.testimonial-slider .flex-control-paging a:visited {
    content: "";
    width: 16px;
    height: 16px;
    background: transparent;
    border-radius: 8px;
}
.testimonial-slider .flex-control-paging a.flex-active {
    background: #fff;
}
.testimonial-slider .flex-direction-nav {
    bottom: -34px;
}
.testimonial-slider .flex-direction-nav a {
    margin-top: -30px;
}
.testimonial-slider .flex-direction-nav a:before,
.testimonial-slider .flex-direction-nav a.flex-prev:before,
.testimonial-slider .flex-direction-nav a.flex-next:before {
    content: "";
}
.testimonial-slider .flex-direction-nav .flex-prev,
.testimonial-slider .flex-direction-nav .flex-next {
    width: 30px;
    height: 60px;
    background: red;
}
.testimonial-slider.flexslider:hover .flex-prev,
.testimonial-slider .flex-direction-nav .flex-prev {
    left: 0;
    background: url('../img/testimonial-slider-left.png') center center no-repeat;
}
.testimonial-slider.flexslider:hover .flex-next,
.testimonial-slider .flex-direction-nav .flex-next {
    right: 0;
    background: url('../img/testimonial-slider-right.png') center center no-repeat;
}
.testimonial {
    position: relative;
    padding-left: 15px;
    margin-left: 56px;
    margin-bottom: 0;
}
.testimonial > .fa {
    position: absolute;
    top: 0;
    left: -61px;
    font-size: 44px;
}
.testimonial > footer {
    color: #fff !important;
}

/* Portfolio */
.portfolio {
    margin: 0 auto 50px auto;
}
.portfolio .item {
    max-width: 210px;
    margin-bottom: 30px;
}
.portfolio .item .image {
    position: relative;
    margin: 0;
    overflow: hidden;
}
.portfolio .item .image .zoom {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    text-align: center;
}
.portfolio .item .image .zoom .icon {
    position: absolute;
    left: 0;
    bottom: 130px;
    width: 100%;
    font-size: 35px;
    color: #111;
}
.portfolio .item .image .zoom .title {
    position: absolute;
    left: 0;
    bottom: 79px;
    width: 100%;
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 16px;
    text-transform: uppercase;
    color: #111;
}
.portfolio .item .image .zoom .title:after {
    content: "";
    display: block;
    width: 20px;
    height: 1px;
    background: #fff;
    margin: 9px auto 0 auto;
}
.portfolio .item .image .zoom .category {
    position: absolute;
    left: 0;
    bottom: 46px;
    width: 100%;
    font-family: 'Open Sans';
    font-size: 18px;
    text-transform: lowercase;
    color: #fff;
}
.portfolio-filter {
    display: block;
    width: 100%;
    margin: 0 auto 50px auto;
}
.portfolio-filter ul,
.portfolio-filter li {
    list-style: none;
    margin: 0;
    padding: 0;
}
.portfolio-filter ul {
    text-align: center;
}
.portfolio-filter li {
    display: inline-block;
}
.portfolio-filter a,
.portfolio-filter a:hover,
.portfolio-filter a:active,
.portfolio-filter a:focus,
.portfolio-filter a:visited {
    display: inline-block;
    height: 22px;
    font-family: 'Open Sans';
    font-size: 18px;
    line-height: 14px;
    text-transform: lowercase;
    text-decoration: none;
    color: #CCC;
}
.portfolio-filter li.active a {
    font-weight: 700;
}
.portfolio-filter a:before {
    content: "";
    display: block;
    float: left;
    width: 30px;
    height: 22px;
    background: url('../img/portfolio-filter-separator.png') center center no-repeat;
    background-size: 30px 22px;
}
.portfolio-filter li:first-child a:before {
    display: none;
}

/* Paginator */
.paginator ul,
.paginator li {
    list-style: none;
    margin: 0;
    padding: 0;
}
.paginator ul {
    width: 100%;
    height: 34px;
    text-align: center;
    margin: 0 auto 50px auto;
}
.paginator li {
    display: inline-block;
    margin: 0 4px;
}
.paginator a {
    padding-left: 11px;
    padding-right: 11px;
}

/* Social circle */
.social-circle {
    display: block;
    width: 120px;
    height: 120px;
    text-align: center;
    margin: 0 auto 30px auto;
    border-radius: 60px;
}
.social-circle .fa {
    font-size: 65px;
    line-height: 120px;
}
.social-circle-inversed .fa {
    color: #fff;
}

/* Blog item */
.blog {
    margin: 0 auto;
}
.blog-item {
    max-width: 262px;
    margin: 0 auto 30px auto;
}
.blog-item.blog-full {
    max-width: none;
}
.blog-item .date-corner {
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    top: 80px;
    left: -10px;
    background: url('../img/blog-item-date-corner.png') center center no-repeat;
    background-size: 10px 10px;
}
.blog-item time {
    display: block;
    position: absolute;
    width: 71px;
    height: 62px;
    top: 18px;
    left: -10px;
    font-size: 9px;
    color: #111;
    text-align: center;
    text-transform: uppercase;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.blog-item time strong {
    display: block;
    font-family: 'Josefin Slab';
    font-weight: 700;
    font-size: 38px;
    color: #111;
    margin-top: -5px;
    margin-bottom: -6px;
}
.blog-item-title {
    color: #CCC;
    text-decoration: none;
}
.blog-item-title:hover,
.blog-item-title:visited,
.blog-item-title:focus,
.blog-item-title:active {
    text-decoration: none;
}
.blog-item-info {
    display: block;
    width: 100%;
    height: 26px;
    border-top: #eee 1px solid;
    border-bottom: #eee 1px solid;
    margin-bottom: 30px;
}
.blog-item-info a,
.blog-item-info a:hover,
.blog-item-info a:active,
.blog-item-info a:focus,
.blog-item-info a:visited {
    font-size: 11px;
    line-height: 24px;
    text-transform: uppercase;
    text-decoration: none;
}
.blog-item-info a:hover {
    text-decoration: underline;
}
.blog-item-info .fa {
    float: left;
    font-size: 11px;
    line-height: 26px;
    margin-right: 10px;
    color: #999;
}
.blog-item-info > .pull-left {
    margin-right: 20px;
}
.widget {
    padding-bottom: 50px;
}
.archives,
.archives li {
    list-style: none;
    display: block;
    margin: 0;
    padding: 0;
}
.archives {
    margin-top: -9px;
    margin-bottom: 19px;
}
.archives li {
    height: 30px;
    line-height: 28px;
}
.archives li .fa {
    color: #999;
    margin-right: 10px;
}
.archives li a,
.archives li a:hover,
.archives li a:visited,
.archives li a:focus,
.archives li a:active {
    text-decoration: none;
}
.archives li a:hover {
    text-decoration: underline;
}
.latest-posts,
.latest-posts li {
    list-style: none;
    display: block;
    margin: 0;
    padding: 0;
    position: relative;
}
.latest-posts li {
    height: 62px;
    margin-bottom: 30px;
}
.latest-posts li > .image {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 62px;
    height: 62px;
}
.latest-posts li > a {
    position: absolute;
    top: -4px;
    left: 75px;
}
.latest-posts .smalldate {
    position: absolute;
    bottom: -3px;
    left: 75px;
    font-size: 12px;
    color: #999;
}
.tags,
.tags li {
    list-style: none;
    display: block;
    padding: 0;
    margin: 0;
}
.tags {
    margin: 0 0 25px 0;
}
.tags li {
    display: inline-block;
}
.tags li a,
.tags li a:hover,
.tags li a:visited,
.tags li a:active,
.tags li a:focus {
    display: block;
    height: 30px;
    text-decoration: none;
    text-transform: lowercase;
    line-height: 30px;
    background: #CCC;
    padding: 0 10px;
    margin: 0 2px 5px 0;
    color: #fff;
}
.author .thumbnail {
    position: absolute;
    display: block;
    width: 100px;
    height: 100px;
    left: 50%;
    bottom: 0;
    border-radius: 50px;
    border: 0;
    margin: 0 0 -50px -50px;
    padding: 5px;
}
.author .info {
    position: absolute;
    display: block;
    width: 100%;
    height: 76px;
    top: 50%;
    left: 0;
    font-family: 'Open Sans';
    text-transform: capitalize;
    font-size: 25px;
    line-height: 34px;
    text-align: center;
    color: #fff;
    margin: -38px 0 0 0;
}
.author .info a,
.author .info a:active,
.author .info a:focus,
.author .info a:hover,
.author .info a:visited {
    display: inline-block;
    width: 30px;
    height: 30px;
    font-size: 15px;
    line-height: 30px;
    border-radius: 15px;
    color: #CCC;
    background: #fff;
}
.author .content {
    text-align: center;
    padding: 50px 20px 0 20px;
}

/* Comments */
.comments {
    border-top: #eee 1px solid;
    padding: 50px 0 0 0;
    margin: 50px 0 0 0;
}
.comment-list,
.comment-list ul,
.comment-list ol,
.comment-list li {
    list-style: none;
    padding: 0;
    margin: 0;
}
.comment-list li li {
    margin-left: 15px;
}
.comment-line {
    position: absolute;
    display: block;
    top: 0;
    left: 95px;
    width: 1px;
    height: 100%;
    background: #eee;
}
.comment-circle {
    position: absolute;
    display: block;
    top: 26px;
    left: -7px;
    width: 15px;
    height: 15px;
    border: #fff 5px solid;
    border-radius: 8px;
    background: #eee;
}
.comment {
    position: relative;
    display: block;
    padding: 0 0 0 110px;
    margin: 0 0 50px 0;
}
.comment-avatar {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    border-radius: 5px;
}
.comment-author {
    display: block;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 15px;
    margin: -5px 0 10px 0;
}
.comment-date {
    display: block;
    font-weight: 300;
    font-size: 14px;
    margin: -3px 0 24px 0;
}
.comment-form {
    margin: 0 0 30px 0;
}

/* Pricing tables */
.pricing {
    display: block;
    position: relative;
    max-width: 100%;
    border-radius: 7px;
    text-align: justify;
    margin: 0 auto 30px auto;
    padding: 0 0 45px 0;
    background: #fff;
}
.pricing .recommended {
    display: block;
    height: 37px;
    font-size: 12px;
    line-height: 35px;
    text-transform: uppercase;
    color: #fff;
    border-bottom: #000 1px solid;
    margin: -25px 30px 30px 30px;
    text-align: center;
}
.pricing ul, .pricing li {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0px 7px;
}
.pricing li {
    font-size: 16px;
    line-height: 35px;
}
.pricing .hat {
    padding-top: 30px;
    margin-bottom: 6px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
.pricing .price {
    display: block;
    position: relative;
    width: 100%;
    height: 99px;
    margin: -13px 0 0 0;
    overflow: hidden;
}
.pricing .price .left,
.pricing .price .right {
    display: block;
    position: absolute;
    top: 13px;
    left: 0;
    width: 100%;
    height: 100px;
}
.pricing .price .bottom {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 26px;
    margin: 0 3px;
}
.pricing .price strong {
    display: block;
    position: absolute;
    top: 14px;
    left: 0;
    width: 100%;
    height: 73px;
    font-family: 'Josefin Slab';
    font-size: 50px;
    line-height: 71px;
    font-weight: 700;
    color: #fff;
    text-align: center;
}
.pricing > .button {
    position: absolute;
    bottom: -23px;
    left: 50%;
    width: 180px;
    height: 50px;
    margin-left: -90px;
    line-height: 48px;
}

/* Address */
address {
    font-size: 16px;
    line-height: 30px;
    font-weight: 700;
    margin: 0 0 30px 0;
}
address.inversed p,
address.inversed p > a,
address.inversed p > a:hover,
address.inversed p > a:visited,
address.inversed p > a:focus,
address.inversed p > a:active {
    color: #fff;
}
address p {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 0;
}
address p > .fa {
    position: absolute;
    top: 6px;
    left: 6px;
}
address p > a,
address p > a:hover,
address p > a:visited,
address p > a:focus,
address p > a:active {
    text-decoration: none;
}

/* Contact form */
.contact-form {
    margin: 0 0 30px 0;
}

/* Button map */
.button-map,
.button-map:hover,
.button-map:visited,
.button-map:focus,
.button-map:active {
    position: absolute;
    width: 250px;
    bottom: 0;
    left: 50%;
    margin-left: -120px;
    text-align: center;
    background: #fff !important;
    border-color: #fff !important;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

/* Map */
.map {
    display: block;
    width: 100%;
    height: 400px;
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
}

/* Copyright */
.copyright {
    font-size: 12px;
    color: #fff;
    margin: -2px 0 25px 0;
}
.copyright a,
.copyright a:hover,
.copyright a:focus,
.copyright a:active,
.copyright a:visited {
    color: #fff;
}

/* Footer */
footer {
    text-align: center;
    background: #111;
    padding: 50px 0 20px 0;
}
footer .space {
    display: block;
    width: 100%;
    height: 20px;
}
footer .social .fa {
    color: #111;
}

/* Back to top button */
.button-to-top {
    z-index: 8000;
    position: fixed;
    right: -60px;
    bottom: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    border: 0;
    color: #111 !important;
}
.button-to-top.show {
    right: 20px;
}
.button-to-top.entrar {
    bottom: 70px;
    width: 75px;
}

/* Clients slider */
#clients {
    width: 100%;
    height: 77px;
    position: relative;
}
#clients div.scrollableArea img {
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.drag-badge {
    position: absolute;
    display: block;
    left: 50%;
    bottom: -18px;
    width: 100px;
    height: 39px;
    font-family: 'Open Sans';
    font-size: 12px;
    line-height: 35px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    background: red;
    border: #fff 2px solid;
    border-radius: 20px;
    margin: 0 0 0 -50px;
}
.drag-badge .fa {
    margin: 0 10px;
}
#our-team .lobster {
    font-size: 20px;
}
#about-us .lobster {
    font-size: 23px;
}
.inscreva-se {
    width: 100%;
    height: 100%;
    background-color: #D7CD17;
    color: #333;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    line-height: 2;
    padding: 14px;
    font-size: 3em;
    font-weight: 700;
    text-align: center;
    margin-bottom: 15px;
    cursor: pointer;
}
.inscreva-se-destaque {
    color: #333;
    font-size: 2em;
    line-height: 1;
}
.site-seguro {
    width: 170px;
    height: 100px;
    margin: 0px auto;
    position: relative;
}

#form_cadastrar label {
    color: #111;
}

#form_cadastrar p.lead {
    color: #111 !important;
}

#form_cadastrar input, select, textarea {
    border-color: #333;
    color: #333;
}

#form_cadastrar .form-control {
    border-color: #333;
}
#blog ul li {
    color: #FFF;
}
.banner-principal {
    margin: 0 0 60px;
    position: relative;
    border: none;
    border-radius: 0px;
    box-shadow: none;
}
@media (min-width:768px){
.banner {
    position: relative;
    display: block;
    width: 100%;
    height: 46em;
    top: 0;
    left: 0;
}
}
@media (max-width:412px){
.banner {
    position: relative;
    display: block;
    width: 100%;
    height: 13em;
    top: 60px;
    left: 0;
}
}