/* Define the base color */
/* Common styles & typography */
.colored {
  color: #b02b2c;
}
a,
a:hover,
a:focus,
a:visited,
a:active {
  color: #b02b2c;
}
blockquote {
  border-color: #b02b2c;
}
blockquote footer,
blockquote > .fa {
  color: #b02b2c;
}
.button:not(.button-inversed) {
  color: #b02b2c;
  border-color: #b02b2c;
  background-color: #b02b2c;
}
.active > .button:not(.button-inversed) {
  background: #b02b2c !important;
}
.button.button-inversed:hover,
.button.button-inversed:active {
  color: #b02b2c !important;
}
.active > .button-inversed {
  color: #b02b2c !important;
}
.button-colored {
  background: #b02b2c;
}
::-webkit-input-placeholder {
  color: #b02b2c;
}
:-moz-placeholder {
  color: #b02b2c;
}
::-moz-placeholder {
  color: #b02b2c;
}
:-ms-input-placeholder {
  color: #b02b2c;
}
input,
textarea {
  border-color: #b02b2c;
  color: #b02b2c;
}
/* Logo */
.logo {
  color: #b02b2c;
}
/* Navigation */
.nav > li:before {
  background-color: #b02b2c;
}
.nav ul {
  border-color: #b02b2c;
}
/* Colored section */
.colored-section {
  background: #b02b2c;
}
/* Section heading */
.section-heading .wrap,
.section-heading .wrap:before,
.section-heading .wrap:after {
  background-color: #b02b2c;
}
/* Sub section heading */
.subsection-heading {
  color: #b02b2c;
}
.subsection-heading:after {
  background-color: #b02b2c;
}
/* Services */
.service-circle {
  -webkit-box-shadow: inset #b02b2c 0 0 0 3px;
  -moz-box-shadow: inset #b02b2c 0 0 0 3px;
  box-shadow: inset #b02b2c 0 0 0 3px;
}
.service-circle .fa {
  color: #b02b2c;
}
.service:hover .service-circle {
  -webkit-box-shadow: inset #b02b2c 0 0 0 10px;
  -moz-box-shadow: inset #b02b2c 0 0 0 10px;
  box-shadow: inset #b02b2c 0 0 0 10px;
}
.service-circle .circle {
  background: #b02b2c;
}
.service-box:hover {
  background: #b02b2c;
}
.service-box:hover .service-icon {
  color: #b02b2c;
}
/* Team */
.team .cover,
.team .cover .edge {
  background: #b02b2c;
}
/* Portfolio */
.portfolio .item .image .zoom {
  background: #b02b2c;
}
.portfolio-filter li.active a {
  color: #b02b2c;
}
/* Social circle */
.social-circle {
  -webkit-box-shadow: inset #b02b2c 0 0 0 2px;
  -moz-box-shadow: inset #b02b2c 0 0 0 2px;
  box-shadow: inset #b02b2c 0 0 0 2px;
}
.social-circle:hover {
  -webkit-box-shadow: inset #b02b2c 0 0 0 8px;
  -moz-box-shadow: inset #b02b2c 0 0 0 8px;
  box-shadow: inset #b02b2c 0 0 0 8px;
}
/* Blog item */
.blog-item .date-corner {
  background-color: #872122;
}
.blog-item time {
  background-color: #b02b2c;
}
/* Comments */
.comment-date {
  color: #b02b2c;
}
/* Pricing tables */
.pricing {
  -webkit-box-shadow: inset #872122 0 0 0 3px;
  -moz-box-shadow: inset #872122 0 0 0 3px;
  box-shadow: inset #872122 0 0 0 3px;
}
.pricing .recommended {
  border-color: #872122;
}
.pricing .hat {
  background: #b02b2c;
}
.pricing .price .left,
.pricing .price .right {
  background: #872122;
}
/* Address */
address p,
address p > .fa {
  color: #b02b2c;
}
/* Button map */
.button-map,
.button-map:hover,
.button-map:visited,
.button-map:focus,
.button-map:active {
  color: #b02b2c !important;
}
/* Back to top button */
.button-to-top {
  background: #b02b2c;
}
/* Clients */
.drag-badge {
  background: #b02b2c;
}
