@import "../lesshat.less";

/* Define the base color */
@color: #b02b2c;

/* Common styles & typography */
.colored {
  color: @color;
}
a, a:hover, a:focus, a:visited, a:active {
  color: @color;
}
blockquote {
  border-color: @color;
}
blockquote footer,
blockquote > .fa {
  color: @color;
}
.button:not(.button-inversed) {
  color: @color;
  border-color: @color;
  background-color: @color;
}
.active > .button:not(.button-inversed) {
  background: @color !important;
}
.button.button-inversed:hover,
.button.button-inversed:active {
  color: @color !important;
}
.active > .button-inversed {
  color: @color !important;
}
.button-colored {
  background: @color;
}
::-webkit-input-placeholder {
  color: @color;
}
:-moz-placeholder {
  color: @color;
}
::-moz-placeholder {
  color: @color;
}
:-ms-input-placeholder {
  color: @color;
}
input, textarea {
  border-color: @color;
  color: @color;
}

/* Logo */
.logo {
  color: @color;
}

/* Navigation */
.nav > li:before {
  background-color: @color;
}
.nav ul {
  border-color: @color;
}

/* Colored section */
.colored-section {
  background: @color;
}

/* Section heading */
.section-heading .wrap,
.section-heading .wrap:before,
.section-heading .wrap:after {
  background-color: @color;
}

/* Sub section heading */
.subsection-heading {
  color: @color;
}
.subsection-heading:after {
  background-color: @color;
}

/* Services */
.service-circle {
  -webkit-box-shadow: inset @color 0 0 0 3px;
  -moz-box-shadow: inset @color 0 0 0 3px;
  box-shadow: inset @color 0 0 0 3px;
}
.service-circle .fa {
  color: @color;
}
.service:hover .service-circle {
  -webkit-box-shadow: inset @color 0 0 0 10px;
  -moz-box-shadow: inset @color 0 0 0 10px;
  box-shadow: inset @color 0 0 0 10px;
}
.service-circle .circle {
  background: @color;
}
.service-box:hover {
  background: @color;
}
.service-box:hover .service-icon {
  color: @color;
}

/* Team */
.team .cover,
.team .cover .edge {
  background: @color;
}

/* Portfolio */
.portfolio .item .image .zoom {
  background: @color;
}
.portfolio-filter li.active a {
  color: @color;
}

/* Social circle */
.social-circle {
  -webkit-box-shadow: inset @color 0 0 0 2px;
  -moz-box-shadow: inset @color 0 0 0 2px;
  box-shadow: inset @color 0 0 0 2px;
}
.social-circle:hover {
  -webkit-box-shadow: inset @color 0 0 0 8px;
  -moz-box-shadow: inset @color 0 0 0 8px;
  box-shadow: inset @color 0 0 0 8px;
}

/* Blog item */
.blog-item .date-corner {
  background-color: darken(@color, 10%);
}
.blog-item time {
  background-color: @color;

}

/* Comments */
.comment-date {
  color: @color;
}

/* Pricing tables */
.pricing {
  -webkit-box-shadow: inset darken(@color, 10%) 0 0 0 3px;
  -moz-box-shadow: inset darken(@color, 10%) 0 0 0 3px;
  box-shadow: inset darken(@color, 10%) 0 0 0 3px;
}
.pricing .recommended {
  border-color: darken(@color, 10%);
}
.pricing .hat {
  background: @color;
}
.pricing .price .left,
.pricing .price .right {
  background: darken(@color, 10%);
}

/* Address */
address p,
address p > .fa {
  color: @color;
}

/* Button map */
.button-map,
.button-map:hover,
.button-map:visited,
.button-map:focus,
.button-map:active {
  color: @color !important;
}

/* Back to top button */
.button-to-top {
  background: @color;
}

/* Clients */
.drag-badge {
  background: @color;
}